.circleindicator-container  {	
	circleindicator-color: #2cb3ba;
	-fx-padding: 5.0;
	-fx-background-color: -fx-background;
}
.circleindicator-container > .circleindicator-label {
	-fx-font-weight: bold; 
 	-fx-font-size: 3.5em;
	-fx-text-fill: circleindicator-color;
	-fx-padding: 5.0;
}